extends layout.pug

block content
    .container
        include partial/messages
        h1.text-center Health By Design
            br
            h4.text-center Ror Alexander
                br
                br
                br
                a.button.btn.btn-primary(type='button' href='/users/register') Register